.lbentrie {
    background-color: rgb(94, 136, 94);
    box-shadow: 0px 0px 5px 0px rgb(41, 67, 44);
    margin-bottom: 10px;
    grid-template-areas: "place username score";
    grid-template-columns: 33% 33% 33%;
    display: grid;
}

.lbentrie:nth-child(odd) {
    background-color: rgb(120, 160, 120); /* Example color for odd children */
}
.username{
    margin: 0px;
}
.boardcon{
    
    /* border-radius: 15%; */
    border: 2px solid rgb(41, 67, 44);
    overflow-y: scroll;
    max-width: 30vw;
    min-width: fit-content;
    height: 50vh;
}

#events-table{
    width: 100%;
    grid-template-areas: "title" "leaderboard";
    text-align: center;
}
#events-title{
    grid-area: title;
    margin: auto;
    color: darkgreen;
}
#events-leaderboard{
    margin: auto;
    grid-area: leaderboard;
}
.place{
    grid-area: place;
    margin: 0px;
    text-align: left;
}
.username{
    grid-area: username;
    margin: 0px;
    
}
.userscore{
    grid-area: score;
    margin: 0px;
    
}