:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(94, 136, 94); */
  background-color: #C4F9FF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title{
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  margin-top: 1em;
}
header{
  text-align: center;
  font-size: 2.5em;
  z-index: 2;
}
footer{
  background-color: rgb(65, 86, 42);
  width: 100%;
  height: 10%;
  top: 90%;
  position: fixed;
  align-items: center;
}
body{
  margin: 0;
  padding: 0;
  
}
#tree1{
  height: 92%;
  position: fixed;
  top: 50px;
  left: calc(0% - 100px);
  width: 300px;
  z-index: 0;
}
#tree2{
  height: 92%;
  position: fixed;
  top: 50px;
  left: calc(100% - 200px);
  width: 300px;
  z-index: 0;
}
#road{
  width: 20%;
  background-color: rgb(46, 35, 24);
  height: 100px;
  align-self: center;
  margin: auto;
  display: fixed;

}
#GreenTrails{
  z-index: 2;
}

@media screen and (max-width: 700px) {
  #tree1, #tree2{  
    display: none;
  }
  
}
#showpastbutton{
  background-color: rgb(63, 89, 52);
  color: #fff;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 5%;
  
}

.header{
  background-image: url('../pictures/mountainbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  background-position: center;
  background-attachment: scroll;
}

.first{
  padding-top: 10vh;
  text-align: center;
  margin-top: 0vh;
  color: rgb(255, 242, 0);
  text-shadow: 2px 2px black;
  font-size: 70px;
  font-weight: bold;
}
.groupme{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50%;
  flex-direction: column;
}
.importantinfo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextmeeting{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.cloudfooter{

}