.fullroad{
  width: 20vw;
  background-color: rgb(46, 35, 24);
  height: 1000vh;
  min-height: 200vh;
  top: 50vh;
  left: 40vw;
  position: absolute;
  z-index: -1;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  
}
.trunk{
  height: 200px;
  width: 20vw;
  background-color: rgb(46, 35, 24);
  margin: auto;
}
.box{
  background-color: rgb(41, 67, 44);
  border-radius: 10%;
  top: 10%;
  width: 36vw;
  height: fit-content;
  min-height: 40vh;
  left: calc(50% - 40vw/2);
  position: relative;
  /* margin-top: 15vh; */
  /* margin-bottom: 15vh;  */
  text-align: center;
  padding: 2vw;
  
}

#page{
  width: 100vw;
  height: 100vh;
}
.nameinput{
  background-color: rgb(26, 43, 28);
  border: 0cap;
  margin: 1px;
}

.addmoredata{
  background-color: rgb(26, 43, 28);
  border: 0cap;
  margin: 5px;
  display: block;
  align-self: center;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 700px){
  .box{
    
    border-radius: 10%;
    top: 10%;
    width: 70vw;
    height: fit-content;
    left: calc(50% - 74vw/2);
    position: relative;
    margin-top: 15vh;
    margin-bottom: 15vh; 
    text-align: center;
    padding: 2vw;
  }
  #fullroad{
    top: 70vh;
  }
}